body {
  background-color: #eee;
  margin-top: 20px;
  --rosso-ted: #eb0028;
}

.header-blog {
  background-image: url("../../components/images/blog2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.media.media-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 210px;
}
@media (min-width: 768px) {
  .media.media-news {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .media.media-news {
    padding-bottom: 25px;
    margin-bottom: 0;
  }
}
.media.media-news .media-body {
  padding: 20px;
  box-shadow: 0 22px 28px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  position: absolute;
  width: 85%;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .media.media-news .media-body {
    position: relative;
    padding: 46.5px 35px;
    right: 0;
  }
}
@media (min-width: 992px) {
  .media.media-news .media-body {
    right: 40px;
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .media.media-news .media-body {
    position: absolute;
    right: 35px;
    width: 60%;
    padding: 20px;
  }
}
.media.media-news .media-body .media-date {
  font-family: "Open Sans", sans-serif;
  color: #848484;
  margin-bottom: 10px;
}
.media.media-news .media-body h5 {
  font-size: 22px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.media.media-news .media-body h5.small {
  font-size: 16px;
}
.media.media-news .media-body p {
  font-family: "Open Sans", sans-serif;
  color: #848484;
}
.media.media-news .media-body .common-btn {
  margin-top: 10px;
}

.button {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid #eb0028;
  color: #eb0028;
}
.button:hover {
  border: 1px solid white;
  background-color: rgb(235, 0, 40);
  color: white;
}

/** 
* ARTICLE STYLES
**/

.main-container {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-container {
  width: 70%;
  margin: auto;
}

.post-container > h1 {
  color: var(--rosso-ted);
}

.post-container > p {
  font-family: GothamBook;
  font-size: 18px;
}

.post-image {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-social-container {
  display: flex;
  gap: 50px;
}
