/* Countdown Timer */

.flip-clock-days {
    --fcc-flip-duration: 0.5s; /* transition duration when flip card */
    --fcc-digit-block-width: 40px; /* width of digit card */
    --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
    --fcc-digit-font-size: 60px; /* font size of digit */
    --fcc-digit-color: yellow; /* color of digit */
    --fcc-label-font-size: 20px; /* font size of label */
    --fcc-label-color: yellow; /* color of label */
    --fcc-background: black; /* background of digit card */
    --fcc-divider-color: black; /* color of divider */
    --fcc-divider-height: 3px; /* height of divider */
    --fcc-separator-size: 6px; /* size of colon */
    --fcc-separator-color: rgba(0, 0, 0, 0); /* color of colon */
}

.flip-clock-hours {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 40px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 60px; /* font size of digit */
  --fcc-digit-color: yellow; /* color of digit */
  --fcc-label-font-size: 20px; /* font size of label */
  --fcc-label-color: yellow; /* color of label */
  --fcc-background: black; /* background of digit card */
  --fcc-divider-color: black; /* color of divider */
  --fcc-divider-height: 3px; /* height of divider */
  --fcc-separator-size: 6px; /* size of colon */
  --fcc-separator-color: rgba(0, 0, 0, 0); /* color of colon */
}
.flip-clock-minutes {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 40px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 60px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 20px; /* font size of label */
  --fcc-label-color: #ffffff; /* color of label */
  --fcc-background: black; /* background of digit card */
  --fcc-divider-color: black; /* color of divider */
  --fcc-divider-height: 3px; /* height of divider */
  --fcc-separator-size: 6px; /* size of colon */
  --fcc-separator-color: white; /* color of colon */
}

.flip-clock-seconds {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 40px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 60px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 20px; /* font size of label */
  --fcc-label-color: #ffffff; /* color of label */
  --fcc-background: black; /* background of digit card */
  --fcc-divider-color: black; /* color of divider */
  --fcc-divider-height: 3px; /* height of divider */
  --fcc-separator-size: 6px; /* size of colon */
  --fcc-separator-color: white; /* color of colon */
}

.colon {
  font-size: 38px;
  font-weight: bold;
  color: #ffffff;
  transform: translateY(-22px);
}

.root{
  background-color: black;
  font-family: Bayron, sans-serif;
}