/* prorietà img background riquadro scroll-down */
.image {
  min-height: 100vh; /* altezza div con img di sfondo (ideale 110vh)*/
  position: relative;
}

/*  prorietà utile per dare all'intera pagina il colore di sfondo delle immagini 
    nello scroll-down parallax.
    In questo modo, se durante lo scorrimento della pagina ci fosse un problema 
    di stretch di un riquadro dello scroll-down, sarebbe impercettibile. */
#root {
  background-color: #191919;
}

/* prorietà div corrispondente all'intero riquadro scroll-down */
.content {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* posizionamento a sx del div con testo nel riquadro scroll-down*/
.ct-left {
  justify-content: left;
}
/* posizionamento a dx del div con testo nel riquadro scroll-down*/
.ct-right {
  justify-content: right;
}

.text-box {
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
}

.img-title {
  color: white;
  font-weight: bold;
  font-size: 2.5vw;
}

.img-txt {
  color: white;
  font-size: 1.5vw;
}

.img-txt-2 {
  color: white;
  font-size: 1vw;
}

.img-link {
  font-size: 20px;
}

.text-div {
  /*background-color: rgba(0, 0, 0, 0.469);*/
  width: 25%;
  margin: 0 20%;
}

.var-container {
  display: inline-block;
}

.row-box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Allinea i contenuti in alto */
  /*margin: 0 30%;*/
}

.left-col,
.right-col {
  width: 45%; /* Imposta la larghezza delle colonne */
  color: white; /* Colore del testo */
  /*padding: 20px; /* Spazio interno */
}

.red-button {
  background-color: #eb0028;
  color: white;
  border: medium;
  border-radius: 8px;
  padding: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
}

.red-button:hover {
  background-color: darkred;
}

.button-container {
  margin-top: 10%;
  display: inline-block;
  align-items: center;
}

.statement {
  font-style: italic;
}

/* dimensioni div gradiente */
.gradient-div {
  width: 100%;
}

/* gradiente da nero totale (top) a grigio 191919 (bottom) */
.gradient-div-top {
  background-image: linear-gradient(to bottom, black, #191919);
}
/* gradiente da grigio 191919 (top) a nero totale (bottom) */
.gradient-div-bottom {
  background-image: linear-gradient(to bottom, #191919, black);
}

/* stile liste "I nostri pilastri" e "Collabora con noi" */
.list-column-div {
  margin: 5% 20% 0 20%;
  color: white;
}

/* singolo div dello scroll-down per mobile */
.mobile-div {
  margin: 5vh 5vw;
  background-size: cover; /* Per adattare l'immagine alla dimensione del contenitore */
  background-position: center; /* Per centrare l'immagine all'interno del contenitore */
  background-repeat: no-repeat;
  display: flex;
}

/* div interno al riquadro dello scroll-down contenente solo il testo */
.mobile-text-block {
  font-size: 15px;
  color: white;
  text-align: left;
}

#mobile-text-block-1 {
  text-align: right;
  width: 50%;
}

#mobile-text-block-2 {
  text-align: left;
  width: 60%;
}

#mobile-text-block-3 {
  text-align: left;
  width: 60%;
}

#mobile-text-block-4 {
  text-align: right;
  width: 60%;
}

#mobile-1st-div {
  background-image: url("../../components/components/partners_scrolldown/img/2.webp");
}
#mobile-2nd-div {
  background-image: url("../../components/components/partners_scrolldown/img/3.webp");
}
#mobile-3rd-div {
  background-image: url("../../components/components/partners_scrolldown/img/4.webp");
  background-position: right;
}
#mobile-4th-div {
  background-image: url("../../components/components/partners_scrolldown/img/5.webp");
}

/* mobile + tablet */
@media screen and (max-width: 820px) {
  /* dimensioni div gradiente */
  .gradient-div {
    height: 10vh;
  }
}

/* desktop */
@media screen and (min-width: 821px) {
  /* dimensioni div gradiente */
  .gradient-div {
    height: 20vh;
  }
}
