body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: GothamBold;
  src: url("./resources/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: GothamBook;
  src: url("./resources/Gotham-Book.otf") format("opentype");
}

.underlined::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #eb0028;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
  mix-blend-mode: difference;
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.5s ease;
}
.bigger {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
}

/*
  GRADIENTI PER SFONDI HEADER PAGINE
*/
.gradient-background {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(130, 36, 51, 0.9) 20%,
      rgba(235, 0, 40, 0) 40%
    ),
    radial-gradient(circle at 70% 10%, rgb(130, 36, 51) 0%, rgb(235, 0, 40) 40%);
}

.gradient-background-workshop {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(82, 114, 181, 0.9) 20%,
      rgba(235, 0, 40, 0) 40%
    ),
    radial-gradient(circle at 70% 10%, rgb(82, 114, 181) 0%, rgb(0, 0, 0) 60%);
}
.gradient-background-workshop-mobile {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(82, 114, 181, 0.9) 20%,
      rgba(235, 0, 40, 0) 70%
    ),
    radial-gradient(circle at 70% 10%, rgb(82, 114, 181) 0%, rgb(0, 0, 0) 100%);
}

.gradient-background-about {
  background-image: url("./components/images/sapienza1X.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-background-team2023 {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(130, 36, 51, 0.9) 20%,
      rgba(235, 0, 40, 0) 40%
    ),
    radial-gradient(circle at 70% 10%, rgb(130, 36, 51) 0%, rgb(235, 0, 40) 40%);
}

.gradient-background-team2022 {
  background: radial-gradient(ellipse at top, #e62b1e, transparent),
    radial-gradient(ellipse at bottom, #822433, transparent);
}

/* BUTTON SUBMIT NEWSLETTER */

.button-submit-newsletter {
  color: #000000;
  background-color: #ffffff;
  font-size: 19px;
  border: -31px solid #ffffff;
  border-radius: 127px;
  padding: 15px 50px;
  cursor: pointer;
}

.button-submit-newsletter:hover {
  color: #eb0028;
  background-color: #ffffff;
}

/*BUTTON AWARDS*/
.header-awards {
  background-image: url("./components/images/awards23/header_awards23.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-awards22 {
  background-image: url("./components/images/awards22/header_awards22.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn5-2 {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "arial";
  text-transform: uppercase;
  font-weight: 400;
  color: white !important;
  background-color: #a42332;
  box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  cursor: pointer;
}
.btn5-2:hover {
  background: #a42332bb;
  color: #d9d9d9 !important;
}

.btn-awards {
  display: inline-block;
  padding: 0.8em 1.6em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "arial";
  text-transform: uppercase;
  background-color: #ffd800;
  text-align: center;
  position: relative;
  margin-left: 7.5%;
}

.btn-RFW {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;

  color: white;
  background-color: #e62153;
  box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.2);
}
.btn-RFW:hover {
  background: #e62152b5;
  color: white;
}

.nav-item {
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #c0c0c0;
}

.winner_22 {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}

.winner_22_small {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}

.where-is-the-event-section {
  background-color: "white";
}
