body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: GothamBold;
  src: url("./resources/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: GothamBook;
  src: url("./resources/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: FiraSansExtraCondensedRegular;
  src: url("./resources/FiraSansExtraCondensed/FiraSansExtraCondensed-Regular.ttf")
    format("opentype");
}

@font-face {
  font-family: FiraSansExtraCondensedBold;
  src: url("./resources/FiraSansExtraCondensed/FiraSansExtraCondensed-Bold.ttf")
    format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.fira-sans extra condensed-thin {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans extra condensed-thin-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans extra condensed-extralight {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans extra condensed-extralight-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans extra condensed-light {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans extra condensed-light-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans extra condensed-regular {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans extra condensed-regular-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans extra condensed-medium {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans extra condensed-medium-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans extra condensed-semibold {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans extra condensed-semibold-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans extra condensed-bold {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans extra condensed-bold-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans extra condensed-extrabold {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans extra condensed-extrabold-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans extra condensed-black {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans extra condensed-black-italic {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.underlined::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #eb0028;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
  mix-blend-mode: difference;
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.5s ease;
}

.bigger {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
}

/*
  GRADIENTI PER SFONDI HEADER PAGINE
*/
.gradient-background {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(130, 36, 51, 0.9) 20%,
      rgba(235, 0, 40, 0) 40%
    ),
    radial-gradient(circle at 70% 10%, rgb(130, 36, 51) 0%, rgb(235, 0, 40) 40%);
}

.gradient-background-awards {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(255, 216, 0, 0.7) 20%,
      rgba(217, 134, 148, 0) 50%
    ),
    radial-gradient(
      circle at 70% 10%,
      rgba(255, 216, 0, 1) 0%,
      rgb(235, 0, 40) 40%
    );
}

.gradient-background-workshop {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(82, 114, 181, 0.9) 20%,
      rgba(235, 0, 40, 0) 40%
    ),
    radial-gradient(circle at 70% 10%, rgb(82, 114, 181) 0%, rgb(0, 0, 0) 60%);
}

.gradient-background-workshop-mobile {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(82, 114, 181, 0.9) 20%,
      rgba(235, 0, 40, 0) 70%
    ),
    radial-gradient(circle at 70% 10%, rgb(82, 114, 181) 0%, rgb(0, 0, 0) 100%);
}

.gradient-background-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url("./components/images/sapX1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-background-joinus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url("./components/images/volunteers.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.gradient-background-joinus-mobile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url("./components/images/volunteers.webp");
  background-position: 20% -95%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-background-team2023 {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(130, 36, 51, 0.9) 20%,
      rgba(235, 0, 40, 0) 40%
    ),
    radial-gradient(circle at 70% 10%, rgb(130, 36, 51) 0%, rgb(235, 0, 40) 40%);
}

.write {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(25, 135, 84, 0.9) 20%,
      rgba(235, 0, 40, 0) 40%
    ),
    radial-gradient(circle at 70% 10%, rgb(25, 135, 84) 0%, rgb(16, 88, 54) 40%);
}

.gradient-background-team2022 {
  background: radial-gradient(ellipse at top, #e62b1e, transparent),
    radial-gradient(ellipse at bottom, #822433, transparent);
}

/* BUTTON SUBMIT NEWSLETTER */

.button-submit-newsletter {
  color: #000000;
  background-color: #ffffff;
  font-size: 19px;
  border: -31px solid #ffffff;
  border-radius: 127px;
  padding: 15px 50px;
  cursor: pointer;
}

.button-submit-newsletter:hover {
  color: #eb0028;
  background-color: #ffffff;
}

/*BUTTON AWARDS*/
.header-awards {
  background-image: url("./components/images/awards23/header_awards23.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-awards22 {
  background-image: url("./components/images/awards22/header_awards22.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn5-2 {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "arial";
  text-transform: uppercase;
  font-weight: 400;
  color: white !important;
  background-color: #a42332;
  box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  cursor: pointer;
}
.btn5-2:hover {
  background: #a42332bb;
  color: #d9d9d9 !important;
}

.btn-awards {
  display: inline-block;
  padding: 0.8em 1.6em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "arial";
  text-transform: uppercase;
  background-color: #ffd800;
  text-align: center;
  position: relative;
  margin-left: 7.5%;
}

.btn-RFW {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: white;
  background-color: #e62153;
  box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.2);
}
.btn-RFW:hover {
  background: #e62152b5;
  color: white;
}

.btn-volunteers {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  color: white !important;
  background-color: rgba(235, 0, 40, 0.85);
  box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.2);
}
.btn-volunteers:hover {
  background: rgba(235, 0, 40, 0.7);
  color: white !important;
}

.winner_22 {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}

.winner_22_small {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
}

.where-is-the-event-section {
  background-color: "white";
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.bento-box {
  background-color: #ffffff1a;
  border-radius: 24px;
  padding: 40px;
}

.secondary-text {
  color: #ffffffcc;
}

.tertiary-text {
  color: #ffffff99;
}

/* Navbar Elements*/

.navbar-submenu-edition-year{
  color: grey;
  font-size: 0.8em;
}
.navbar-submenu-edition-item{
  color: #ffffff;
  text-decoration: none;
}

.navbar-submenu-edition-item:hover{
  color: red;
  
}