body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: GothamBold;
  src: url("./resources/Gotham-Bold.otf") format("opentype");
}

.underlined::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #e62b1e;
}

.gradient-background {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(209, 46, 171, 0.7) 0%,
      rgba(21, 52, 119, 0) 50%
    ),
    radial-gradient(
      circle at 70% 10%,
      rgba(21, 119, 64, 1) 0%,
      rgba(50, 53, 144, 1) 100%
    );
}

.gradient-background-about {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(194, 202, 40, 0.9) 0%,
      rgba(21, 52, 119, 0) 80%
    ),
    radial-gradient(
      circle at 70% 10%,
      rgb(184, 41, 19) 0%,
      rgb(28, 31, 111) 100%
    );
}

.gradient-background-team2023 {
  background: radial-gradient(
      circle at 20% 400px,
      rgba(34, 42, 209, 0.9) 0%,
      rgba(21, 52, 119, 0) 80%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgb(211, 43, 17) 0%,
      rgb(28, 31, 111) 100%
    );
}

