body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: GothamBold;
	src: url("./resources/Gotham-Bold.otf") format("opentype");
}

.underlined::after {
	content: "";
	display: block;
	height: 5px;
	background-color: #e62b1e;
}

/*
  GRADIENTI PER SFONDI HEADER PAGINE
*/
.gradient-background {
	background: radial-gradient(
			circle at 20% 400px,
			rgba(209, 46, 171, 0.7) 0%,
			rgba(21, 52, 119, 0) 50%
		),
		radial-gradient(
			circle at 70% 10%,
			rgba(21, 119, 64, 1) 0%,
			rgba(50, 53, 144, 1) 100%
		);
}

.gradient-background-about {
	background: radial-gradient(
			circle at 20% 400px,
			rgba(194, 202, 40, 0.9) 0%,
			rgba(21, 52, 119, 0) 80%
		),
		radial-gradient(
			circle at 70% 10%,
			rgb(184, 41, 19) 0%,
			rgb(28, 31, 111) 100%
		);
}

.gradient-background-team2023 {
	background: radial-gradient(
			circle at 20% 400px,
			rgba(34, 42, 209, 0.9) 0%,
			rgba(21, 52, 119, 0) 80%
		),
		radial-gradient(
			circle at 50% 50%,
			rgb(211, 43, 17) 0%,
			rgb(28, 31, 111) 100%
		);
}

/* CSS PER FAR MUOVERE IMMAGINI SU EDIZIONE 2022 */
.mb-0 {
	margin-bottom: 0 !important;
}

.portfolio-item {
	display: block;
	position: relative;
	overflow: hidden;
	max-width: 530px;
	margin: auto auto 1rem;
}
.portfolio-item .caption {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.portfolio-item .caption .caption-content {
	color: rgb(0, 0, 0);
	margin: auto 2rem 2rem;
}
.portfolio-item .caption .caption-content h2,
.portfolio-item .caption .caption-content .h2 {
	font-size: 0.8rem;
	text-transform: uppercase;
}
.portfolio-item .caption .caption-content p {
	font-weight: 300;
	font-size: 1.2rem;
}

@media (min-width: 992px) {
	.portfolio-item {
		max-width: none;
		margin: 0;
	}
	.portfolio-item .caption {
		transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
		transition: clip-path 0.25s ease-out, background-color 0.7s;
		transition: clip-path 0.25s ease-out, background-color 0.7s,
			-webkit-clip-path 0.25s ease-out;
		-webkit-clip-path: inset(0px);
		clip-path: inset(0px);
	}

	.portfolio-item .caption .caption-content {
		transition: opacity 0.25s;
		margin-left: 5rem;
		margin-right: 5rem;
		margin-bottom: 5rem;
	}

	.portfolio-item img {
		transition: -webkit-clip-path 0.25s ease-out;
		transition: clip-path 0.25s ease-out;
		transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
		-webkit-clip-path: inset(-1px);
		clip-path: inset(-1px);
	}

	.portfolio-item:hover img {
		-webkit-clip-path: inset(2rem);
		clip-path: inset(2rem);
	}

	.portfolio-item:hover .caption {
		background-color: #eb0027;
		-webkit-clip-path: inset(2rem);
		clip-path: inset(2rem);
	}
}

/** SPEAKER CARD **/

.speaker-card {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border-radius: 40px;
	flex: 0 0 300px;
}

.speaker-card-image {
	display: block;
	transition: all 0.3s ease;
}

.speaker-card-text {
	position: absolute;
	bottom: -100%;
	left: 0;
	background: linear-gradient(transparent, transparent 10%, #eb0027e7 60%);
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	display: flex;
	align-items: flex-end;
	padding-left: 20px;
	padding-bottom: 40px;
	color: white;
	font-size: 25px;
	font-family: GothamBold;
}

.speaker-card:hover .speaker-card-text {
	bottom: 0;
}

.speaker-card:hover .speaker-card-image {
	transform: scale(1.1);
}
