body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: GothamBold;
	src: url("./resources/Gotham-Bold.otf") format("opentype");
}

* {
	font-family: GothamBold;
}

.underlined::after {
	content: "";
	display: block;
	height: 5px;
	background-color: #eb0028;
}

/*
	EDIZIONE 2022 
*/

.theme-card-container {
	display: flex;
	flex-wrap: wrap;
}

.theme-card {
	background-color: #e62b1e;
	border: 2px solid #e62b1e;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.theme-card > strong {
	font-size: 200px;
	color: #fff;
}

.theme-card p {
	text-align: justify;
	max-width: 22ch;
}

.theme-card > p > strong {
	color: #fff;
}

@media screen and (max-width: 992px) {
	.theme-card p {
		max-width: 40ch;
	}
}

/*
  GRADIENTI PER SFONDI HEADER PAGINE
*/
.gradient-background {
	background: radial-gradient(
			circle at 20% 400px,
			rgba(130, 36, 51, 0.9) 20%,
			rgba(235, 0, 40, 0) 40%
		),
		radial-gradient(
			circle at 70% 10%,
			rgb(130, 36, 51) 0%,
			rgb(235, 0, 40) 40%
		);
}

.gradient-background-about {
	background-image: url("./components/images/sapienza1X.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gradient-background-team2023 {
	background: radial-gradient(
			circle at 20% 400px,
			rgba(130, 36, 51, 0.9) 20%,
			rgba(235, 0, 40, 0) 40%
		),
		radial-gradient(
			circle at 70% 10%,
			rgb(130, 36, 51) 0%,
			rgb(235, 0, 40) 40%
		);
}

.gradient-background-team2022 {
	background: radial-gradient(ellipse at top, #e62b1e, transparent),
		radial-gradient(ellipse at bottom, #822433, transparent);
}

/** SPEAKER CARD **/

.speaker-card {
	position: relative;
	overflow: hidden;
	flex: 0 0 300px;
}

.speaker-card-image {
	display: block;
	transition: all 0.3s ease;
}

.speaker-card:hover .speaker-card-text {
	left: 0;
}

.speaker-card:hover .speaker-card-image {
	transform: scale(1.2);
}

.speaker-card-text {
	position: absolute;
	bottom: 7%;
	left: -100%;
	background-color: #000;
	width: 60%;
	height: 15%;
	transition: all 0.3s ease;
	color: white;
	font-size: 23px;
	font-family: GothamBold;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
